
<!-- Access -->
<div class="content" role="main">

  <!-- Copys -->
  <h2 class="card-container">Enter your Github project URL</h2>
  <p>Copy & Paste the Github project Link you want to manage</p>

  <!-- URL input -->
  <form class="card-container example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Your Github Project URL here</mat-label>
      <input matInput>
      <mat-hint>Example: https://github.com/MyName/my-project.git </mat-hint>
    </mat-form-field>
    <a mat-raised-button color="primary" routerLink="/list" routerLinkActive="active">Go to list</a>
  </form> 

</div>